<div class="page-width">
  
  <!-- Design Start  -->
<div class=" my-order-cont">
  <div class="active-order-cont-wrap active-order-cont">
    <a href="" class="back-link">‹ Back to All Orders</a>
    <h2 class="text-left flora-page-title">Active Orders</h2>
    <div class="order-detail-content col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-md-4 col-sm-12 col-xs-12 no-padding-left">
        <div class="img-cont-bg">
          <img class="orderdet-main-img" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/flower-small.png?16933084598843728920">
          <img class="orderdet-thumb-img" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/flower-large.png?16933084598843728920">
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12 no-padding m-t-20-m">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding order-detail-content-details">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding order-list-img">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left ">
                    <label class="order-list-heading">ARRANGEMENT NAME</label>
                    <div class="order-list-data">#1234567</div>
                    <div class="order-list-data">Quantity: 1</div>
                    <div class="order-list-data">$138.00</div>               
                  </div>
                </div>
                <div class="col-md4 col-sm-4 col-xs-12 no-padding-left m-t-10-m">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding ">
                    <label class="order-list-heading">Recipient</label>
                    <div class="order-list-data">Raven Reyes</div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding-left m-t-10-m no-padding">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding delivery-list">
                    <label class="order-list-heading"><span><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/deli-truck.png?11096566138413628308"></span>Out for Delivery</label>
                    <div class="order-list-data">
                      <div class="delivery-sch-text">Delivery scheduled for </div>
                      <div class="delivery-sch-time">April 15, 2018 at 11:00 AM</div>
                    </div>
                  </div>
                </div>
               
              </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 no-padding ">
            <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding ">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left ">
                    <label class="order-list-heading">SHIPPING ADDRESS</label>
                    <div class="order-list-data bold-text">Raven Reyes</div>
                    <div class="order-list-data">1240 N State Street Unit 102</div>
                    <div class="order-list-data">Chicago, IL 60610</div>
                    <div class="order-list-data">United States</div>                 
                  </div>
                </div>
                <div class="col-md4 col-sm-4 col-xs-12 no-padding-left m-t-10-m">
                  <div class="col-md-12 col-sm-12 col-xs-12 no-padding ">
                    <label class="order-list-heading">PAYMENT METHOD</label>
                    <div class="order-list-data">Mastercard ****2435</div>



                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding-left m-t-10-m no-padding">
                  <div class="order-summary-det col-md-12 col-sm-12 col-xs-12 no-padding ">
                    <label class="order-list-heading">ORDER SUMMARY</label>
                    <div class="order-list-data">Subtotal<span>$ 138.00</span> </div>
                    <div class="order-list-data">Tax (11%)<span>$ 15.18</span> </div>
                    <div class="order-list-data">Shipping<span>FREE</span> </div>
                    <div class="order-list-data bold-text">Total<span>$  153.18</span> </div>
                  </div>
     
                 </div>
                </div>
               
              </div>
        </div>

       
      </div>
    </div>

  </div>

<!-- Design end  -->
{% comment %}
  <div class="section-header text-center">
    <h1>{{ 'customer.account.title' | t }}</h1>
    <p><a href="/account">{{ 'customer.account.return' | t }}</a></p>
  </div>

  <div class="grid">
    <div class="grid__item medium-up--two-thirds">
      <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>

      {%- assign order_date = order.created_at | date: "%B %d, %Y %I:%M%p" -%}
      <p>{{ 'customer.order.date' | t: date: order_date }}</p>

      {% if order.cancelled %}
        <div class="order--cancelled">
          {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
          <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
        </div>
      {% endif %}

      <table class="responsive-table">
        <thead>
          <tr>
            <th>{{ 'customer.order.product' | t }}</th>
            <th>{{ 'customer.order.sku' | t }}</th>
            <th>{{ 'customer.order.price' | t }}</th>
            <th>{{ 'customer.order.quantity' | t }}</th>
            <th>{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}" class="responsive-table__row" >
            <td data-label="{{ 'customer.order.product' | t }}">
              <img src="{{ line_item.product | img_url }}">
              {{ line_item.title | link_to: line_item.product.url }}
              <!-- Bold:POv2 -->
{% assign propertySize = line_item.properties | size %}
{% if propertySize > 0 %}
{% for p in line_item.properties %}
{% assign first_character_in_key = p.first | truncate: 1, '' %}
{% unless p.last == blank or first_character_in_key == '_' %}
{{ p.first }}:
{% if p.last contains '/uploads/' %}
<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
{% else %}
{{ p.last }}
{% endif %}
{% endunless %}
{% endfor %}
{% endif %}
<!-- Bold:POv2 -->
{% if line_item.fulfillment %}
                <div class="note">
                  {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}
                  {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                  <div>
                    {% if line_item.fulfillment.tracking_url %}
                      <a href="{{ line_item.fulfillment.tracking_url }}">
                        {{ 'customer.order.track_shipment' | t }}
                      </a>
                    {% endif %}
                    <div>
                      {{ line_item.fulfillment.tracking_company }}
                      {% if line_item.fulfillment.tracking_number %} #{{ line_item.fulfillment.tracking_number }} {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </td>
            <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
            <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
            <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
            <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr class="responsive-table__row">
            <td colspan="4" class="small--hide">{{ 'customer.order.subtotal' | t }}</td>
            <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</td>
          </tr>

          {% for discount in order.discounts %}
            <tr class="order_summary discount">
              <td colspan="4" class="small--hide">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
              <td data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
            </tr>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
            <tr>
              <td colspan="4" class="small--hide">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
              <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
            </tr>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
            <tr>
              <td colspan="4" class="small--hide">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
              <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="4" class="small--hide"><strong>{{ 'customer.order.total' | t }}</strong></td>
            <td data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="grid__item medium-up--one-third">
      <hr class="medium-up--hide">
      <h3>{{ 'customer.order.billing_address' | t }}</h3>

      <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>

      {{ order.billing_address | format_address }}

      <h3>{{ 'customer.order.shipping_address' | t }}</h3>

      <p><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>

      {{ order.shipping_address | format_address }}
    </div>
  </div>
  {% endcomment %}
</div>
