<div class="flora_signin_bg_section" style="background-image: url('{{ 'login_bg_image_min.png' | asset_url }}')">
<div class="page-width flora-login-page">
  <div class="grid">
    <div class="grid__item medium-up--one-half1 medium-up--push-one-quarter1 flora-user-account-content">
      <div class="section-header">
        <div class="form-vertical login-frm">
          
          {% form 'reset_customer_password' %}

          <h2 class="text-center">{{ 'customer.reset_password.title' | t }}</h2>
          <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
          <div class="flora-onoborading-container">            

            {{ form.errors | default_errors }}

            <label for="ResetPassword" class="flora-label">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %} flora-form-control">

            <label for="PasswordConfirmation" class="flora-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %} flora-form-control">

            <input type="submit" class="btn flora-primary-btn" value="{{ 'customer.reset_password.submit' | t }}">
          </div>
          {% endform %}
        </div>
        </div>

      
    </div>
  </div>
</div>
</div>
